html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

main {
    flex: 1;
}

/* Change navbar brand font and spacing */
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.0px;
}

/* Style the nav links */

.navbar-brand:hover {
    color: #ffd700 !important; /* gold color on hover */
    text-transform: uppercase;
}

/* Hover effect on nav links */
.navbar-nav .nav-link:hover {
  color: #ffd700 !important; /* gold color on hover */
  text-transform: uppercase;
  
}

/*navbar links */
.navbar a {
text-decoration: none;
transition: color 0.3s ease-in, transform 0.3s ease-in;
}
.project-image {
  height: 200px;
  object-fit: cover;
}
a i:hover {
  color: #0d6efd; /* Bootstrap Primary Blue */
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}
.project:hover {
    color: #ffd700 !important; /* gold color on hover */

}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.project-image {
  transition: opacity 0.3s ease;
}

.card:hover .project-image {
  opacity: 0.85;
}
.card:hover .project-image {
  filter: brightness(80%);
}
.card-body {
  transition: transform 0.3s ease;
}
.card:hover .card-body {
  transform: translateY(-5px);
}


/*footer styles*/
